@import '../../styles/variables.scss';

header {
    background-color: $headerColor;
    padding: 10px;
    color: $backgroundColor;
    height: 3rem;
    display: flex;
    align-items: center;
}

nav {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        margin-right: 15px;
        a {
            color: $backgroundColor;
            text-decoration: none;
            .nav-back {
                @include btnMixin($btnBackColor, 0.7rem);
                height: 2rem;
                border-radius: 3px;
            }
        }
    }
}

